/* DARK THEME (MAIN) */

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background-dark {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #130820;
    overflow: hidden;
}

.background-dark span {
    width: 80vmin;
    height: 80vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 11;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background-dark span:nth-child(0) {
    color: #3f1c3c;
    top: 28%;
    left: 20%;
    animation-duration: 329s;
    animation-delay: -247s;
    transform-origin: -2vw -8vh;
    box-shadow: 100vmin 0 12.700328361234394vmin currentColor;
}
.background-dark span:nth-child(1) {
    color: #583C87;
    top: 6%;
    left: 92%;
    animation-duration: 47s;
    animation-delay: -227s;
    transform-origin: 20vw -19vh;
    box-shadow: 100vmin 0 12.978580296987198vmin currentColor;
}
.background-dark span:nth-child(2) {
    color: #583C87;
    top: 35%;
    left: 27%;
    animation-duration: 308s;
    animation-delay: -347s;
    transform-origin: 4vw 25vh;
    box-shadow: -100vmin 0 12.932581557859477vmin currentColor;
}
.background-dark span:nth-child(3) {
    color: #291946;
    top: 64%;
    left: 1%;
    animation-duration: 35s;
    animation-delay: -41s;
    transform-origin: 9vw -11vh;
    box-shadow: -100vmin 0 13.431585910395379vmin currentColor;
}
.background-dark span:nth-child(4) {
    color: #2d1555;
    top: 44%;
    left: 66%;
    animation-duration: 294s;
    animation-delay: -368s;
    transform-origin: 14vw 10vh;
    box-shadow: -100vmin 0 13.407464207286424vmin currentColor;
}
.background-dark span:nth-child(5) {
    color: #3f1c3c;
    top: 54%;
    left: 81%;
    animation-duration: 22s;
    animation-delay: -340s;
    transform-origin: 14vw -13vh;
    box-shadow: -100vmin 0 13.45623290946246vmin currentColor;
}
.background-dark span:nth-child(6) {
    color: #2a5b79;
    top: 72%;
    left: 11%;
    animation-duration: 77s;
    animation-delay: -99s;
    transform-origin: -15vw -17vh;
    box-shadow: 100vmin 0 12.729230546271708vmin currentColor;
}
.background-dark span:nth-child(7) {
    color: #583C87;
    top: 30%;
    left: 8%;
    animation-duration: 112s;
    animation-delay: -231s;
    transform-origin: 11vw 18vh;
    box-shadow: 100vmin 0 12.787716527244635vmin currentColor;
}
.background-dark span:nth-child(8) {
    color: #3f1c3c;
    top: 52%;
    left: 45%;
    animation-duration: 347s;
    animation-delay: -192s;
    transform-origin: -6vw 16vh;
    box-shadow: -100vmin 0 13.030363211452608vmin currentColor;
}
.background-dark span:nth-child(9) {
    color: #3f1c3c;
    top: 88%;
    left: 3%;
    animation-duration: 266s;
    animation-delay: -310s;
    transform-origin: 0vw -24vh;
    box-shadow: -100vmin 0 12.769726422939861vmin currentColor;
}
.background-dark span:nth-child(10) {
    color: #3f1c3c;
    top: 33%;
    left: 11%;
    animation-duration: 233s;
    animation-delay: -166s;
    transform-origin: 15vw -6vh;
    box-shadow: 100vmin 0 12.620290364197416vmin currentColor;
}
.background-dark span:nth-child(11) {
    color: #2a5b79;
    top: 82%;
    left: 59%;
    animation-duration: 365s;
    animation-delay: -48s;
    transform-origin: -1vw 21vh;
    box-shadow: 100vmin 0 12.779970865407122vmin currentColor;
}
.background-dark span:nth-child(12) {
    color: #31112f;
    top: 46%;
    left: 96%;
    animation-duration: 237s;
    animation-delay: -358s;
    transform-origin: 12vw 13vh;
    box-shadow: -100vmin 0 12.66207196513831vmin currentColor;
}
.background-dark span:nth-child(13) {
    color: #2a5b79;
    top: 86%;
    left: 90%;
    animation-duration: 372s;
    animation-delay: -10s;
    transform-origin: 15vw -12vh;
    box-shadow: -100vmin 0 13.218576103944432vmin currentColor;
}
.background-dark span:nth-child(14) {
    color: #3f1c3c;
    top: 61%;
    left: 15%;
    animation-duration: 163s;
    animation-delay: -184s;
    transform-origin: -3vw 7vh;
    box-shadow: -100vmin 0 13.325407280217496vmin currentColor;
}
.background-dark span:nth-child(15) {
    color: #2a5b79;
    top: 68%;
    left: 31%;
    animation-duration: 183s;
    animation-delay: -337s;
    transform-origin: -14vw -10vh;
    box-shadow: -100vmin 0 13.321779091711695vmin currentColor;
}
.background-dark span:nth-child(16) {
    color: #3f1c3c;
    top: 65%;
    left: 97%;
    animation-duration: 274s;
    animation-delay: -333s;
    transform-origin: 19vw -1vh;
    box-shadow: -100vmin 0 13.06447353639822vmin currentColor;
}




/* LIGHT THEME */


.background-light {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fcffce;
    overflow: hidden;
}

/* .background-light span {
    width: 36vmin;
    height: 36vmin;
    border-radius: 36vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 14;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background-light span:nth-child(0) {
    color: #e5ffd6;
    top: 7%;
    left: 47%;
    animation-duration: 201s;
    animation-delay: -322s;
    transform-origin: -23vw 3vh;
    box-shadow: 72vmin 0 9.545542723305227vmin currentColor;
}
.background-light span:nth-child(1) {
    color: #bef1b0;
    top: 7%;
    left: 3%;
    animation-duration: 34s;
    animation-delay: -325s;
    transform-origin: 7vw 2vh;
    box-shadow: -72vmin 0 9.84054288307598vmin currentColor;
}
.background-light span:nth-child(2) {
    color: #f5d98d;
    top: 53%;
    left: 83%;
    animation-duration: 245s;
    animation-delay: -300s;
    transform-origin: -1vw 5vh;
    box-shadow: 72vmin 0 9.808041349835742vmin currentColor;
}
.background-light span:nth-child(3) {
    color: #ffe9ac;
    top: 86%;
    left: 31%;
    animation-duration: 194s;
    animation-delay: -170s;
    transform-origin: -7vw 13vh;
    box-shadow: 72vmin 0 9.444567630749vmin currentColor;
}
.background-light span:nth-child(4) {
    color: #f5d98d;
    top: 73%;
    left: 17%;
    animation-duration: 358s;
    animation-delay: -198s;
    transform-origin: 18vw -21vh;
    box-shadow: 72vmin 0 9.555141363028099vmin currentColor;
}
.background-light span:nth-child(5) {
    color: #bcfdaa;
    top: 39%;
    left: 31%;
    animation-duration: 269s;
    animation-delay: -143s;
    transform-origin: -18vw -12vh;
    box-shadow: 72vmin 0 9.08354211306138vmin currentColor;
}
.background-light span:nth-child(6) {
    color: #ffebb5;
    top: 35%;
    left: 24%;
    animation-duration: 191s;
    animation-delay: -151s;
    transform-origin: 14vw 16vh;
    box-shadow: -72vmin 0 9.06434763725464vmin currentColor;
}
.background-light span:nth-child(7) {
    color: #ffebb3;
    top: 55%;
    left: 4%;
    animation-duration: 38s;
    animation-delay: -58s;
    transform-origin: -21vw -19vh;
    box-shadow: 72vmin 0 9.099690084686895vmin currentColor;
}
.background-light span:nth-child(8) {
    color: #bcfdaa;
    top: 89%;
    left: 73%;
    animation-duration: 140s;
    animation-delay: -150s;
    transform-origin: -5vw 6vh;
    box-shadow: -72vmin 0 9.986914757207149vmin currentColor;
}
.background-light span:nth-child(9) {
    color: #bcfdaa;
    top: 57%;
    left: 69%;
    animation-duration: 40s;
    animation-delay: -194s;
    transform-origin: 18vw 11vh;
    box-shadow: -72vmin 0 9.09696465338226vmin currentColor;
}
.background-light span:nth-child(10) {
    color: #ffebb3;
    top: 100%;
    left: 27%;
    animation-duration: 282s;
    animation-delay: -119s;
    transform-origin: 1vw 19vh;
    box-shadow: 72vmin 0 9.72325204541553vmin currentColor;
}
.background-light span:nth-child(11) {
    color: #bcfdaa;
    top: 13%;
    left: 29%;
    animation-duration: 32s;
    animation-delay: -139s;
    transform-origin: 24vw -13vh;
    box-shadow: -72vmin 0 9.625286272344326vmin currentColor;
}
.background-light span:nth-child(12) {
    color: #f5d98d;
    top: 24%;
    left: 78%;
    animation-duration: 182s;
    animation-delay: -131s;
    transform-origin: 7vw -8vh;
    box-shadow: 72vmin 0 9.210335940697886vmin currentColor;
} */
