/* BASE */

.background {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }
  
  /* LIGHT */
  
  .background-light {
    background: #fcffce;
  }
  
  /* DARK */
  
  .background-dark {
    background: #130820;
  }
  
  /* BURBUJAS */
  
  .background-dark span {
    position: absolute;
    width: 80vmin;
    height: 80vmin;
    border-radius: 50%;
    backface-visibility: hidden;
    animation: move linear infinite;
  }
  
  /* ANIMACIÓN */
  
  @keyframes move {
    100% {
      transform: rotate(360deg);
    }
  }