/* Fuente personalizada */
@font-face {
  font-family: "Oswald";
  src: url("/src/assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;